* {
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  font-family: sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 20px 20px 25px;
  border-radius: 10px;
}

.colors {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.color {
  display: flex;
  gap: 10px;
}

.switch {
  width: 50px;
  height: 50px;
  background-color: var(--color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  
  &[data-active="Y"] {
    transform: scale(.9);
  }

}

.output {
  font-size: 40px;
  text-align: center;
  line-height: 1;
}
