@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  font-style: normal;
  src: url('/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  font-style: italic;
  src: url('/fonts/Poppins-BlackItalic.ttf');
}

:root {
  --gap: 7px;
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .25s;
}

.color-mixer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

.colors {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--gap);
  -webkit-user-select: none;
  user-select: none;
}

.color {
  display: flex;
  gap: var(--gap);
}

.switch {
  width: 50px;
  height: 50px;
  background-color: var(--color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  transition: all .2s;
  
  &[data-active="Y"] {
    color: var(--color);
  }

}

.output {
  font-size: 40px;
  text-align: center;
  line-height: 1;
  font-family: monospace;
}

.color-mixer-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  border: 0;
  background-color: #F000C0;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  font-size: inherit;
  border-radius: 8px;
  cursor: pointer;
}

.swatches {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  max-width: 449px;

  .swatch {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

}
